
/* MyTable.css */
.tables {
  margin: auto; 
  width: 88%; 
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ffffff;
}
.tables th {
  border: 1px solid #065151;
  padding: 12px;
  text-align: cen;
}

.tables td {
  border: 1px solid #065151     ;
  padding: 12px;
  text-align: left;
}

.tables tr {
  border: 1px solid #065151     ;
  padding: 12px;
  text-align: left;
}
.custom-form{
    background-color: #8FBC8F; /* Ganti dengan warna latar belakang yang diinginkan */
    padding: 2rem; /* Sesuaikan padding sesuai kebutuhan */
    border-radius: 20px;
}
.formUp{
  background-color: #66CDAA;
}



  /* Formulir.css */
 
.form {
  margin-top: 3rem;
  margin-left: 15rem;  
  margin-right: 15rem;
  margin-bottom: 3rem;
}

.form-container {
  padding: 2rem;
  border: 2px solid #ffffff;
  border-radius: 40px; /* Lebih bulat sudutnya */
  margin-bottom: 2rem;
  background-color: #8FBC8F; /* Latar belakang formulir */
  box-shadow: 0 0 10px rgba(11, 127, 111, 0.1); /* Efek bayangan untuk menonjolkan formulir */
  margin: auto; /* Agar form terpusat di tengah */
}

.subhead-form{
  color: #000000; 
  font-size: 3rem;
  font-weight: bold;
}

.subhead-form hr {
 border: 1.5px solid #0b5235;
 width: 30%; 
}

.alert {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 2rem;
  margin-bottom: 10px;
}

.form-label {
  color: #000000;
  height: 30px;
}

.form-control {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}





  
                                                                                                                                                                                                