/* MyTable.css */
.my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .my-table th {
    background-color: #f2f2f2;
  }
  
  /* Formulir.css */

.mt-5 {
    margin-top: 2rem;
  }
  
  .form-container {
    padding: 1.5rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .form-head-book {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .form-head-book h4 {
    color: #007bff;
  }
  
  .form-head-book hr {
    border-top: 2px solid #007bff;
  }
  
  .alert {
    margin-top: 1rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 20%;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  